.container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.topArea {
  display: flex;
  align-items: center;
}

#title {
  display: inline;
}

#actionButton {
  display: inline;
  position: absolute;
  margin-left: 16em;
}
