.container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.topArea {
  position: relative;
  width: inherit;
  height: 4em;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

#title {
  position: relative;
  display: inline;
}

#actionButton {
  position: absolute;
  display: inline;
  margin-left: 100%;
}
